.app-content {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: $s-size;
}

.location {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    margin-left: $m-size;

  }
}

.wrapper { 
  width: 100% !important;
  display: flex;
  flex-direction: column;
  padding: $xl-size;
  text-align: left;
  width: inherit;
  padding-top: 0;
 
}

.location {
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.weather {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $m-size;

  i {
    font-size: 15rem;
    flex-grow: 1;
  }
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: $xxl-size;
  text-align: center;
  position: relative;
}

.weather-temp {
  font-size: $xl-size;
}

.temperature-info {
  flex-grow: 1;
  margin-bottom: $m-size;
  position: relative;
  padding-left: $xl-size;
}

.temperature-control {
  position: relative;
  text-align: right;

  span {
    padding: 0 $s-size;
  }
}

.temperature-toggle {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 20px;
  right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, .2);

  &:hover {
    cursor: pointer;
  }
}

.display-time {
  h2 {
    margin-bottom: 5px;
  }
  span {
    font-size: 12px;
  }
}

.form-control {
  background: none;
  color: #fff;
  border: none;

  &:focus {
    outline: none;
  }


}


input {
  padding-bottom: $s-size;
  border-bottom: 1px solid rgba(255,255,255,.4) !important;
  position: relative;

  &:focus +  div {
    width: 100%;
  }
}

.text-field-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.text-field-wrapper div {
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all .3s ease;

}

button {
  margin: 0 $l-size;
  font-size: 3rem;

}

.forecast {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: $xl-size;
}

.forecast__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, .1);

  i {
    font-size: $icon-l;
  }
}

.forecast__item:last-child {
  border: none;
}

.forecast-date {
  font-weight: normal;
  margin-bottom: 0;
}

.forecast-temp {
  span {
    font-weight: normal;
  }
}
