.app-content {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  padding: $xl-size;
  text-align: left;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    padding: $l-size;
    padding-bottom: $xl-size;
  }
}

.location {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    border-bottom: 1px solid rgba(255,255,255, .2);
  }

  img {
    width: 30px;
    height: 30px;
    margin-left: $m-size;
  }

  h2 {
    @media (max-width: $mobile) {
      font-size: 2rem;
    }
  }
}

.location {
  display: flex;
}

.weather {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $m-size;
  @include animation(fadein, .5s);

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  i {
    font-size: 15rem;
    flex-grow: 1;

    @media (max-width: $mobile) {
      font-size: $xxl-size;
      flex-grow: 0;
      order: 2;
    }
  }
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 $xxl-size;
  text-align: center;
  position: relative;

  @media (max-width: $tablet) {
    padding-left: 0;
    padding-right: $m-size;
  }

  @media (max-width: $mobile) {
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.weather-temp {
  font-size: $xl-size;
  
  @media (max-width: $mobile) {
    order: 1;
  }
}

.temperature-info {
  flex-grow: 1;
  margin-bottom: $m-size;
  position: relative;
  padding-left: $xl-size;

  h4 {
    span {
      font-weight: normal;
      margin-right: $s-size;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding-left: 0;
  }
}

.temperature-control {
  position: relative;
  text-align: right;

  @media (max-width: $mobile) {
    margin-right: $xl-size;
  }

  span {
    padding: 0 $s-size;
  }
}

.temperature-toggle {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 10px;
  right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, .2);

  &:hover {
    cursor: pointer;
  }
}

.display-time {
  h2 {
    margin-bottom: 5px;
  }
  span {
    font-size: 12px;
  }
}

.form-control {
  background: none;
  color: #fff;
  border: none;

  &:focus {
    outline: none;
  }
}

.text-field-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.text-field-wrapper div {
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all .3s ease;

}

.forecast {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: $xl-size;
  @include animation(fadein, .5s);

  @media (max-width: $mobile) {
    flex-direction: column;
    margin-top: 0;
  }
}

.forecast__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, .1);

  i {
    font-size: $icon-l;

    @media (max-width: $mobile) {
      font-size: $xl-size;
      order: 2;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: row;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: $m-size 0;
  }
}

.forecast__item:last-child {
  border: none;
}

.forecast-date {
  font-weight: normal;
  margin-bottom: 0;

  @media (max-width: $mobile) {
    order: 1;
    margin: 0;
  }
}

.forecast-temp {
  span {
    font-weight: normal;
  }

  @media (max-width: $mobile) {
    order: 3;
  }
}
